// main: ../style.less

.contact {
    display: flex;
    position: relative;
}

.contact__left {
    width: 47%;
    padding: 2rem;

    @media @mobile-sm {
        padding: 1rem;
     }


}

.contact__right {
    width: 53%;
    margin-bottom: -4px;

}

.contact__image {
    position: absolute;
    border-radius: 0;
    padding: 0;

    @media @tablet {
        width: 390px;
        height: 100%;
    }

     @media @mobile-sm {
        max-width: 53%;
        height: 100%;
     }

}


.contact__icon {
    width: 18px;
    height: 18px;
    border-radius: 0;
    margin-right: .75rem;

    @media @mobile-sm {
        width: 10px;
        height: 10px;
        margin-right: .6rem;

    }

}

.contact__info {
    margin: 2rem 0 3rem;
    padding: 0;
    list-style: none;

    font-size: .94rem;
    color: @black;
    font-weight: 300;

    @media @mobile-sm {
        font-size: .4rem;
        margin: 1rem 0 1rem;
    }
}


.contact__info-item {
    display: flex;
    align-items: center;
    margin-bottom: .75rem;

    &:last-child {
        margin-bottom: 0;
    }


    @media @mobile-sm {
        font-size: .42rem;
        margin-bottom: .2rem;
    }
}